<footer class="footer bg-primary">
  <div class="container">
    <div class="footer-content d-flex pt-15 pb-8 py-md-6">
      <div class="footer-info d-flex justify-content-between align-items-center mb-6">
        <ul class="sitemap d-flex">
          <li><a class="text-white" href="./index.html">首頁</a></li>
          <li><a class="text-white" href="./optical.html">系列鏡框</a></li>
          <li><a class="text-white" href="./branches.html">門市據點</a></li>
          <li><a class="text-white" href="#">部落格</a></li>
          <li><a class="text-white" href="./faq.html">常見問題</a></li>
        </ul>
        <ul class="social-btns d-flex">
          <li><a href="#"><img src="../assets/images/ic-social-fb.png" alt=""></a></li>
          <li><a href="#"><img src="../assets/images/ic-social-ig.png" alt=""></a></li>
          <li><a href="#"><img src="../assets/images/ic-social-line.png" alt=""></a></li>
        </ul>
      </div>
      <ul class="contact">
        <li class="mb-2 d-flex">
          <a class="text-white d-flex align-items-center" href="tel:+0800-000-000">
            <span class="call material-symbols-outlined me-5"> call </span>
            <p>0800-000-000</p>
          </a>
        </li>
        <li class="d-flex">
          <a class="text-white d-flex align-items-center" href="mailto:glasses@business.com">
            <span class="mail material-symbols-outlined me-5"> mail </span>
            <p>glasses@business.co</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="law d-flex justify-content-between align-items-center text-white py-8 pt-md-4 pb-md-6">
      <div class="copyright mb-md-2">
        <p>Copyright © 2020 Glasses.All rights reserved.</p>
      </div>
      <ul class="policy d-flex fz-14">
        <li>
          <a href="#">隱私權政策</a>
        </li>
        <li>
          <a href="#">服務條款</a>
        </li>
      </ul>
    </div>
  </div>
</footer>