.branches {
  @media (max-width: 576px) {
    padding-top: 40px;
    padding-bottom: 64px;
  }
  .page-title {
    border-left: 8px solid #9f1213;
    padding-left: 16px;
    @media (max-width: 576px) {
      font-size: 24px;
    }
  }
  .select {
    display: flex;
    align-items: center;
    margin-top: 33px;
    margin-bottom: 41px;
    @media (max-width: 576px) {
      margin-top: 24px;
      margin-bottom: 24px;
    }
    &-dropdown {
      width: 304px;
      padding: 6px 12px;
      font-family: "Noto Sans TC", "Roboto", sans-serif;
      color: #ced4da;
      border: 1px solid #ced4da;
      font-size: 18px;
      // 消除預設箭頭
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
      background-position: calc(100% - 12px);
      // https://stackoverflow.com/questions/77008691/how-to-place-the-select-arrow-svg-near-to-the-right-edge
      @media (max-width: 576px) {
        width: calc((276px / 375px) * 100%);
        flex-grow: 1;
      }

    }
    span{
      @media (max-width: 576px) {
        font-size: 16px;
      }
    }
  }
}

// branch-group 卡片區

.branch-group {
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
  @include pad {
    row-gap: 24px;
  }
  .branch-info {
    width: calc((100% - 48px) / 3);
    @include pad {
      width: calc((100% - 24px) / 2);
    }
    @media (max-width: 576px) {
      width: 100%;
    }
    h3 {
      font-size: 24px;
      padding: 8px 24px;
      border: 1px solid #00000020;
      border-top: 0;
    }
  }
}

.branch-info-content {
  ul {
    border: 1px solid #00000020;
    border-bottom: 0;
  }
  .btn-moreinfo {
    width: 100%;
    text-align: center;
    padding: 16px 0;
  }
}