<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glasses 鏡視界-FAQ</title>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('./layout/navbar'); -%>

    <!-- Branches -->
    <div class="branches pt-24 pb-20 py-md-20 pt-sm-10 pb-sm-16">
      <div class="container">
        <h2 class="page-title fz-48 fw-bold">門市據點</h2>
        <div class="select">
          <span class="pe-4 fz-24">選擇地區</span>
          <select name="location" id="location" class="select-dropdown">
            <option>請選擇地區</option>
            <option value="台北市" selected>台北市</option>
            <option value="台中市">台中市</option>
            <option value="高雄市">高雄市</option>
          </select>
          <i class="bi bi-caret-down-fill arrow"></i>
        </div>
        <!-- 卡片區 -->
         <ul class="branch-group d-flex">
          <li class="branch-info">
            <img src="../assets/images/store-1.png" alt="台北中山旗艦店" class="branch-info-img" />
            <div class="branch-info-content">
              <h3 class="branch-info-title">台北中山旗艦店</h3>
              <ul class="py-4">
                <li class="d-flex align-items-center">
                  <span class="material-symbols-outlined pe-2 ps-6"> call </span>
									<p class="fz-20">電話：(02)000-1234</p>
                </li>
                <li class="d-flex align-items-center py-2">
                  <span class="material-symbols-outlined pe-2 ps-6"> schedule </span>
									<p class="fz-20">營業時間：10:00-21:00</p>
                </li>
                <li class="d-flex align-items-center">
                  <span class="material-symbols-outlined pe-2 ps-6"> location_on </span>
									<p class="fz-20">地址：台北市中山區南京東路25巷2-1號</p>
                </li>
              </ul>
              <a class="btn-moreinfo bg-black text-white fz-20" href="./branch.html">詳細資訊</a>
            </div>
          </li>
          <li class="branch-info">
            <img src="../assets/images/store-1.png" alt="台北中山旗艦店" class="branch-info-img" />
            <div class="branch-info-content">
              <h3 class="branch-info-title">台北中山旗艦店</h3>
              <ul class="py-4">
                <li class="d-flex align-items-center">
                  <span class="material-symbols-outlined pe-2 ps-6"> call </span>
									<p class="fz-20">電話：(02)000-1234</p>
                </li>
                <li class="d-flex align-items-center py-2">
                  <span class="material-symbols-outlined pe-2 ps-6"> schedule </span>
									<p class="fz-20">營業時間：10:00-21:00</p>
                </li>
                <li class="d-flex align-items-center">
                  <span class="material-symbols-outlined pe-2 ps-6"> location_on </span>
									<p class="fz-20">地址：台北市中山區南京東路25巷2-1號</p>
                </li>
              </ul>
              <a class="btn-moreinfo bg-black text-white fz-20" href="./branch.html">詳細資訊</a>
            </div>
          </li>
          <li class="branch-info">
            <img src="../assets/images/store-1.png" alt="台北中山旗艦店" class="branch-info-img" />
            <div class="branch-info-content">
              <h3 class="branch-info-title">台北中山旗艦店</h3>
              <ul class="py-4">
                <li class="d-flex align-items-center">
                  <span class="material-symbols-outlined pe-2 ps-6"> call </span>
									<p class="fz-20">電話：(02)000-1234</p>
                </li>
                <li class="d-flex align-items-center py-2">
                  <span class="material-symbols-outlined pe-2 ps-6"> schedule </span>
									<p class="fz-20">營業時間：10:00-21:00</p>
                </li>
                <li class="d-flex align-items-center">
                  <span class="material-symbols-outlined pe-2 ps-6"> location_on </span>
									<p class="fz-20">地址：台北市中山區南京東路25巷2-1號</p>
                </li>
              </ul>
              <a class="btn-moreinfo bg-black text-white fz-20" href="./branch.html">詳細資訊</a>
            </div>
          </li>
          <li class="branch-info">
            <img src="../assets/images/store-1.png" alt="台北中山旗艦店" class="branch-info-img" />
            <div class="branch-info-content">
              <h3 class="branch-info-title">台北中山旗艦店</h3>
              <ul class="py-4">
                <li class="d-flex align-items-center">
                  <span class="material-symbols-outlined pe-2 ps-6"> call </span>
									<p class="fz-20">電話：(02)000-1234</p>
                </li>
                <li class="d-flex align-items-center py-2">
                  <span class="material-symbols-outlined pe-2 ps-6"> schedule </span>
									<p class="fz-20">營業時間：10:00-21:00</p>
                </li>
                <li class="d-flex align-items-center">
                  <span class="material-symbols-outlined pe-2 ps-6"> location_on </span>
									<p class="fz-20">地址：台北市中山區南京東路25巷2-1號</p>
                </li>
              </ul>
              <a class="btn-moreinfo bg-black text-white fz-20" href="./branch.html">詳細資訊</a>
            </div>
          </li>
          <li class="branch-info">
            <img src="../assets/images/store-1.png" alt="台北中山旗艦店" class="branch-info-img" />
            <div class="branch-info-content">
              <h3 class="branch-info-title">台北中山旗艦店</h3>
              <ul class="py-4">
                <li class="d-flex align-items-center">
                  <span class="material-symbols-outlined pe-2 ps-6"> call </span>
									<p class="fz-20">電話：(02)000-1234</p>
                </li>
                <li class="d-flex align-items-center py-2">
                  <span class="material-symbols-outlined pe-2 ps-6"> schedule </span>
									<p class="fz-20">營業時間：10:00-21:00</p>
                </li>
                <li class="d-flex align-items-center">
                  <span class="material-symbols-outlined pe-2 ps-6"> location_on </span>
									<p class="fz-20">地址：台北市中山區南京東路25巷2-1號</p>
                </li>
              </ul>
              <a class="btn-moreinfo bg-black text-white fz-20" href="./branch.html">詳細資訊</a>
            </div>
          </li>
          
          
          
         </ul>
      </div>
    </div>
   <!-- Footer -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
