<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glasses 鏡視界-OPTICAL</title>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('./layout/navbar'); -%>
    <!-- submenu -->
    <ul class="submenu container d-flex text-align-center fz-32 ff-roboto fw-medium">
      <li class=""><a href="./optical.html">OPTICAL</a></li>
      <li><a href="./sunglasses.html">SUNGLASSES</a></li>
      <li><a href="#">FUNCTIONAL</a></li>
    </ul>
    <!-- products banner -->
    <ul class="products-banner d-flex">
			<li><a href="###"></a></li>
			<li><a href="###"></a></li>
		</ul>
    <!-- 卡片區 -->
     <div class="glasses-group pt-20">
      <div class="container">
        <h2 class="fz-42 fw-medium ff-roboto text-align-center">Celluloid Combi</h2>
				<h3 class="fz-32 text-align-center">賽璐珞鈦金屬混合鏡框</h3>
        <ul class="glasses d-flex">
          <li>
            <a href="#">
              <img src="../assets/images/product-1.png" alt="眼鏡" />
							<div class="glasses-content d-flex justify-content-between">
								<h4>BJ41600S</h4>
								<p>NTD3,490</p>
							</div>
							<div class="products-color">
								<span></span>
								<span></span>
							</div>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/product-2.png" alt="眼鏡" />
							<div class="glasses-content d-flex justify-content-between">
								<h4>BJ41600S</h4>
								<p>NTD3,490</p>
							</div>
							<div class="products-color">
								<span></span>
								<span></span>
							</div>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/product-3.png" alt="眼鏡" />
							<div class="glasses-content d-flex justify-content-between">
								<h4>BJ41600S</h4>
								<p>NTD3,490</p>
							</div>
							<div class="products-color">
								<span></span>
								<span></span>
							</div>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/product-4.png" alt="眼鏡" />
							<div class="glasses-content d-flex justify-content-between">
								<h4>BJ41600S</h4>
								<p>NTD3,490</p>
							</div>
							<div class="products-color">
								<span></span>
								<span></span>
							</div>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/product-5.png" alt="眼鏡" />
							<div class="glasses-content d-flex justify-content-between">
								<h4>BJ41600S</h4>
								<p>NTD3,490</p>
							</div>
							<div class="products-color">
								<span></span>
								<span></span>
							</div>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/product-6.png" alt="眼鏡" />
							<div class="glasses-content d-flex justify-content-between">
								<h4>BJ41600S</h4>
								<p>NTD3,490</p>
							</div>
							<div class="products-color">
								<span></span>
								<span></span>
							</div>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/product-1.png" alt="眼鏡" />
							<div class="glasses-content d-flex justify-content-between">
								<h4>BJ41600S</h4>
								<p>NTD3,490</p>
							</div>
							<div class="products-color">
								<span></span>
								<span></span>
							</div>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/product-2.png" alt="眼鏡" />
							<div class="glasses-content d-flex justify-content-between">
								<h4>BJ41600S</h4>
								<p>NTD3,490</p>
							</div>
							<div class="products-color">
								<span></span>
								<span></span>
							</div>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/product-3.png" alt="眼鏡" />
							<div class="glasses-content d-flex justify-content-between">
								<h4>BJ41600S</h4>
								<p>NTD3,490</p>
							</div>
							<div class="products-color">
								<span></span>
								<span></span>
							</div>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/product-4.png" alt="眼鏡" />
							<div class="glasses-content d-flex justify-content-between">
								<h4>BJ41600S</h4>
								<p>NTD3,490</p>
							</div>
							<div class="products-color">
								<span></span>
								<span></span>
							</div>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/product-5.png" alt="眼鏡" />
							<div class="glasses-content d-flex justify-content-between">
								<h4>BJ41600S</h4>
								<p>NTD3,490</p>
							</div>
							<div class="products-color">
								<span></span>
								<span></span>
							</div>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/product-6.png" alt="眼鏡" />
							<div class="glasses-content d-flex justify-content-between">
								<h4>BJ41600S</h4>
								<p>NTD3,490</p>
							</div>
							<div class="products-color">
								<span></span>
								<span></span>
							</div>
            </a>
          </li>
        </ul>
      </div>
     </div>

     <!-- 分頁 -->
     <%- include('./layout/pagination') -%>



   <!-- Footer -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
