.bg-primary {
	background-color: $primary;
}

.bg-secondary {
	background-color: $primary-dark;
}

.bg-third {
	background-color: $primary-light;
}

.bg-white {
	background-color: $white;
}

.bg-black {
	background: $secondary;
}